@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(
    135deg,
    #f8f6ff,
    #ece6ff
  );

  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.app {
  width: 100%;
  padding: 20px;
}